:root {
	--font: "Cartograph CF";
	--bgcolor: #1f1d2e;
	--linkcolor: #e0def4;
}

/*-----------------------------------------------------------*/
input {
    height: inherit;
    width: 680px;
    background: #26233a;
    color: #ebbcba;
    font: "Cartograph CF";
    font-weight: mono;
    line-height: 1.8em;
    box-shadow: 1px 1px 3px #000000;
    border: none;
    text-align: center;
    border-radius: 8px;
    outline: none;
    padding: 7px 14px;
    font-size: 18;
    grid-column: 1 / -1;
    margin: 0px 0px 30px 0px;;
}
body {
/*
	background-image: url('../background/bg.jpg');
	background-repeat : no-repeat;
*/
	background-color: #191724;
	background-size: cover;
}

.everything {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link {
	display: inline-block;
	margin: 1%;
	height: 185px;
	width: 140px;
	text-align: left;
	padding-left: 3%;
	background-color: var(--bgcolor);
	border-radius: 8px;
	box-shadow: 2px 2px 8px #000000;
}

.box {
	width: 750px;
}

ul {
	padding-inline-start: 0;
	list-style: none;
}

a {
	display: block;
	line-height: 2.4em;
	font-family: var(--font);
	color: var(--linkcolor);
	font-size: 1rem;
	text-decoration: none;
	outline: none;
	transition: .2s;
}

a:hover {
	color: #9ccfd8;
}

.time {
    font-family: "Cartograph CF"; monospace;
    font-weight: mono;
    font-size: 5.5rem;
    margin: 50px 0px 50px 0px;
    color: var(--linkcolor);
	text-shadow: -5px 5px 0px #eb6f92, -10px 10px #f6c177, -15px 15px 0px #C3A5E6, -20px 20px 0px #31748f;
}
